.navbar{
    background-color: gray;
    border-radius: 20px;
    margin-top: 10px;
}

.container-fluid{
    /* color: white; */
  
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.form_title{
    text-transform: uppercase;

}
.student{
    padding: 70px;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(169, 196, 225);
}

.student_details_section{
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 70px;
    /* width: 90%; */
}
.row_line{
    margin-bottom: 20px;
    display: block;
    justify-content: space-between;
}
.parent_details_section{
    margin-bottom: 70px;
}